<div class="d-flex align-items-center mt-4 mb-4">
  <div class="ml-auto boards__linkBox">
    <%= link_to "一覧", boards_path, class: 'btn btn-outline-dark' %>
    <!-- 編集対象のオブジェクトを引数に渡す事で ↓ 、そのIDを取得できる -->
    <%= link_to "編集", edit_board_path(@board), class: 'btn btn-outline-dark' %>
  </div>
</div>

<!-- flash[:notice]があるかどうかのif文 -->
<% if flash[:notice] %>
  <div class="alert alert-primary">
    <%= flash[:notice] %>
  </div>
<% end %>

<!-- オブジェクトというキーに対して変数を渡すと、partialで参照されたファイル名の、_ を抜いた変数名が作成されるー（この場合はboard） -->
<%= render @board %>

<div class="p-comment__list">
  <div class="p-comment__listTitle">コメント</div>
  <!-- 特定のオブジェクトの引数をrenderに渡した場合、自動的にモデル名のビューが使用され、対象の数だけ表示してくれる  app/views/comments/_comment.html.erbがコメントの数だけレンダリング-->
  <%= render @board.comments %>
</div>


<%= render partial: 'comments/form', locals: { comment: @comment } %>
